@import url('https://rsms.me/inter/inter.css');

.dg.main .close-button {
  display: none;
}

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  background: rgb(255, 252, 242);
}

canvas {
  display: block;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 0.9em;
}

h2 {
  font-size: 2em;
  font-weight: 800px;
}

h3 {
  font-size: 1.2em;
  margin-top: 1em;
}

h4 {
  font-size: 1em;
  margin-top: 1em;
}

h1 {
  position: relative;
  font-size: 4em;
  font-weight: 700;
  background: -webkit-linear-gradient(#ff5a23,#af10ff, #5800FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#canvas {
  padding: 0px;
  position: relative;
}

#header {
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#intro {
  border-top: 1px solid #5800FF;
}

footer {
  padding: 2em 2em 4em 2em;
  border-Top:1px solid #5800FF;
  align-content: space-around;
}



footer > svg{
  align-items: baseline;
}

section {
  padding: 2em 0 2em 0;
}

::selection {
  color: black;
  background-color: white;
}

.info {
  margin-top: 2em;
}

.text {
  font-size: 1.8em;
  font-weight: 500;
  background: -webkit-linear-gradient(#ff5a23,#af10ff, #5800FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-small {
  margin-top: 2em;
  font-size: 1.3em;
  line-height: 1.5em;
  color: black;
}

.dates {
  color: #af10ff;
}

a {
  text-decoration: none;
  color: #5800FF;
}

a:hover {
  color: #af10ff;
  text-decoration: none;
}

img a:hover {
  color: white;
  cursor: pointer;
}

strong {
  background: -webkit-linear-gradient(#ff5a23,#af10ff, #5800FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


a img:hover,
a img:focus {
  filter: invert(18%) sepia(75%) saturate(6695%) hue-rotate(277deg) brightness(102%) contrast(111%);
  /* filter: invert(11%) sepia(79%) saturate(6701%) hue-rotate(263deg) brightness(96%) contrast(135%); */
  transition-duration: 0.3s;
}

img {
    vertical-align: middle;
    border-style: none;
    width: 50%;
    margin-top:2em;
    height:80px;
}


@media only screen and (max-width: 500px) {
  h2 {
    font-size: 1.8em;
    font-weight: 800px;
  }

  h3 {
    font-size: 1em;
  }

  h1 {
    font-size: 3em;
    font-weight: 700;
    color: #5800FF;
    /* background: -webkit-linear-gradient(#af10ff, #ff9ba7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }
  img {
      vertical-align: middle;
      border-style: none;
      width: 100%;
      margin-top:2em;
      height:80px;
  }


}
