@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


body{
  font-family:"Inter", sans-serif;
  font-size: 1em;
  color:#5800FF;
  background=ffffff00&noise=c412ff&density=41&opacity=66;
  /* background: rgb(255,252,242);
  background: linear-gradient(184deg, rgba(255,252,242,1) 0%, rgba(255,255,255,1) 100%); */
}

p{
  font-family:"Inter", sans-serif;
  font-size: 0.8em;
}

h1{
font-size: 2em;
font-weight:800px;
}

h2{
font-size: 1.5em;
}

h3{
font-size: 1em;
}

#canvas{
    padding:0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header{

}


#intro{
  border-top:1px solid #5800FF;
}

footer{
padding:4em 4em 4em 4em;
height: 100px;
}

.footer-text{
  font-size:1em;
  margin-bottom:2em;
  line-height: 1.5em;
  color:#5800FF;
}

section{
  padding:2em 0 2em 0;
}
::selection{
  color:white;
  background-color: #5800FF;
}

.info{
  margin-top:2em;
}

.text{
  font-size:1.8em;
  font-weight:500;
}

.text-small{
  margin-top:2em;
  font-size:1.3em;
  line-height: 1.5em;
  color:black;
}

.dates{
  color:#af10ff;
}

a{
text-decoration:underline;
color:#5800FF;
}
